---
import Layout from "../../layouts/Layout.astro";
import TOC from "../../components/TOC.astro";
import { formatDate } from "../../utils/format-date";

import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");

  const paths = posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
  return paths;
};

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
post.data.date = formatDate(post.data.date);

const { headings, Content } = await post.render();
---

<Layout title={`AIdventure - ${post.data.title}`}>
    <div class="px-6 xl:px-12 w-full lg:w-6/12 mx-auto">
        <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
            {post.data.title}
        </h1>
        <Image
            src={post.data.image}
            alt={post.data.title}
            width={1024}
            height={1024 / 2}
            format="webp"
            class="w-full rounded-2xl shadow-xl mt-6 object-cover"
        />
        <div class="flex flex-row flex-wrap gap-1 pb-3 text-sm text-gray-500 mt-6 mb-4 lg:mb-8">
            <span>{post.data.author}</span>
            <span aria-hidden="true">·</span>
            <time datetime={post.data.date}>{post.data.date}</time>
            <span aria-hidden="true">·</span>
            {post.data.tags.map((tag) => <span>#{tag}</span>)}
        </div>
    </div>
    
    <div class="w-full lg:w-10/12 mx-auto">
        <div class="grid grid-cols-12 lg:grid-cols-10">
            <main class="px-6 xl:px-12 order-2 lg:order-1 col-span-12 lg:col-span-6 lg:col-start-3">
                <div class="prose max-w-none">
                <Content />
                </div>
            </main>
            <div class="order-1 lg:order-2 col-span-12 px-6 xl:px-12 mb-8 lg:mb-0 lg:px-0 lg:col-span-2">
                <div class="lg:sticky lg:top-20 lg:ms-8 w-full">
                    <TOC headings={headings} />
                </div>
            </div>
        </div>
    </div>
</Layout>
